<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>403</title>

    <link rel="stylesheet" href="/www/css/bootstrap.min.css">
    <link rel="stylesheet" href="/www/css/font-awesome.min.css">
    <link rel="stylesheet" href="/www/css/site.css">
</head>

<body>
    <div style="text-align: center; margin-top: 10%">
        <span style="font-family: Courier; font-size: 4em;">
            <label>:( 403</label>
            <small>FORBIDDEN</small>
            <hr>
        </span>
        
        <a href="/" class="btn-link mt-0" style="font-size: 1.5em"><i class="fa fa-arrow-circle-left mr-2"></i>返回主页</a>
    </div>
</body>

</html>