{% layout = 'layout_base.html' %}

<div class="container mt-4">
	<h1 class="text-center">部署成功</h1><br>
	<div class="alert alert-info text-center" role="alert">
		<strong>页面跳转中：</strong>请等待<label id="wait">3</label>秒...
	</div>
</div>

<script type="text/javascript">
setInterval("refresh()", 1000);

function refresh() {
    var wait = document.getElementById('wait').innerHTML;
    document.getElementById('wait').innerHTML = --wait;
    if (wait <= 0) {
        location.href = '/user/login/';
    }
}
</script>