<div class="m-2 p-2">
    <i class="fa fa-eye mr-1"></i><b class="mr-1">{{proj_name}}</b>归档管理
    <hr>

    <div class="container-fluid">
        <div class="row">
            <!-- 可归档列表 -->
            <div class="col-6">
                <div class="card text-white shadow bg-success">
                    <div class="card-header px-2 py-1">
                        <i class="fa fa-check-circle mr-2"></i>可归档
                    </div>
    
                    <div class="card-body m-0 p-0">
                        {% for _, info in ipairs(tasks) do %}
                        {% if info.status == 3 then %}
                        <div class="card text-dark m-1 rounded-0">
                            <div class="card-body m-0 py-1 px-2">
                                <span class="d-inline-block text-truncate mw-100">                  
                                    <span class="{{weights[info.weight].color}}">【{{weights[info.weight].title}}】</span>
                                    <span class="text-muted">#{{info.id}}</span>
                                    <a href="#" onclick="return open_task('{{info.id}}');">{{info.name}}</a>
                                </span><br>
                                {% if #info.tags > 0 then %}
                                <span class="d-inline-block text-truncate mw-100">
                                    {% for _, tag in ipairs(info.tags) do %}
                                    <span class="badge {{tags[tag].color}} mr-1">{{tags[tag].title}}</span>
                                    {% end %}
                                </span><br>
                                {% end %}
                                <small class="d-inline-block text-truncate mw-100" style="min-width: 100%">
                                    <i class="fa fa-calendar mr-1"></i>{{string.format('%04d-%02d-%02d', info.end_time.year, info.end_time.month, info.end_time.day)}}
                                    <span class="pull-right">
                                        <span class="badge badge-dark text-white ml-2">{{info.creator_name}}</span>
                                        <i class="fa fa-chevron-right mx-1"></i>
                                        <span class="badge badge-dark text-white">{{info.assigned_name}}</span>
                                    </span>
                                </small>
                            </div>
                        </div>
                        {% end %}
                        {% end %}
                    </div>
                </div>
            </div>

            <!-- 已归档列表 -->
            <div class="col-6">
                <div class="card text-white shadow bg-dark">
                    <div class="card-header px-2 py-1">
                        <i class="fa fa-archive mr-2"></i>已归档
                    </div>
    
                    <div class="card-body m-0 p-0">
                        {% for _, info in ipairs(tasks) do %}
                        {% if info.status == 4 then %}
                        <div class="card text-dark m-1 rounded-0">
                            <div class="card-body m-0 py-1 px-2">
                                <span class="d-inline-block text-truncate mw-100">                            
                                    <span class="{{weights[info.weight].color}}">【{{weights[info.weight].title}}】</span>
                                    <span class="text-muted">#{{info.id}}</span>
                                    <a href="#" onclick="return open_task('{{info.id}}');">{{info.name}}</a>
                                </span>
                            </div>
                        </div>
                        {% end %}
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="task-view" class="task-view-pane invisible">
    <div id="task-info-pane">
    </div>
</div>

<script>
function open_task(tid) {
    $('#task-info-pane').empty();
    $('#task-info-pane').get(0).innerHTML = '<div class="text-center text-muted" style="margin-top: 10%"><img src="/www/images/loading.gif" class="mb-4"><h1>努力加载中 ...</h1></div>';
    $('#task-view').removeClass('invisible');
    $('#task-view').addClass('visible');

    $.post('/dashboard/tasks/readonly_info', {id : tid, enable_archive : true}, function(ret) {
        $('#task-info-pane').empty();
        $('#task-info-pane').append($(ret));
    }, 'html');
}
</script>