/* 这里是对antd默认样式的修改 */
.ant-card-head {
  min-height: 16px;
  margin-bottom: 0px;
  padding: 8px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 2px 2px 0 0;
  zoom: 1;
}
.ant-card-head-title {
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ant-card-extra {
  float: right;
  margin-left: auto;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-weight: normal;
  font-size: 14px;
}
.ant-page-header-title-view-extra {
  position: absolute;
  top: 3px;
  right: 16px;
}
.ant-collapse-content > .ant-collapse-content-box{
  padding: 0;
}
.ant-modal-confirm .ant-modal-body {
  padding: 16px;
}
.ant-comment-inner {
  padding-top: 4px;
  padding-bottom: 0;
}
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: auto;
  margin-right: 8px;
}
.upload-list-inline .ant-upload-list-item .anticon-close {
  right: 0px;
}