<link rel="stylesheet" href="/www/css/jquery.gantt.min.css">

<div class="text-center shadow border p-2" style="overflow: auto">    
    <div id="gantt-view"></div>
</div>

<script src="/www/js/jquery.gantt.min.js"></script>
<script type='text/javascript'>
$('#gantt-view').ganttView({
    data: $.parseJSON('{*gantt_data*}'),
    showWeekends: false,
    behavior: {
        clickable: true,
        draggable: false,
        resizable: false,
        onClick: function(node) {
            console.log(node);
            if (node.is_summary) return;
            open_task(node.id);
        }
    }
});
</script>