<div class="row">
    <div class="col-3 px-1">
        <div class="card border-0 rounded-0" style="font-size: .9em;">
            <div class="card-header text-white px-2 py-1 bg-secondary rounded-0">
                <i class="fa fa-circle-o mr-2"></i>待办中<span class="badge badge-light mt-1 pull-right">{{summary.created}}</span>
            </div>

            <div class="card-body m-0 p-0" style="background: #eee; max-height: calc(100vh - 140px); overflow: auto;">
                {% for _, info in ipairs(tasks.created) do %}
                <div class="card m-1 rounded-0 {{info.delayed and 'border-danger' or ''}} task-card related-user-{{info.assigned}}">
                    <div class="card-body m-0 py-1 px-2">
                        <span class="d-inline-block text-truncate mw-100">
                            <span class="{{weights[info.weight].color}}">【{{weights[info.weight].title}}】</span>
                            <a href="#" class="task-link" onclick="return open_task('{{info.id}}');">{{info.name}}</a>
                        </span><br>
                        <small class="d-inline-block text-truncate mw-100" style="min-width: 100%">
                            <span><i class="fa fa-calendar mr-1"></i>{{tostring(info.end_time)}}</span>
                            <span class="pull-right">
                                <label class="text-muted m-0">{{info.creator_name}}<i class="fa fa-chevron-right mx-1"></i>{{info.assigned_name}}<i class="fa fa-chevron-right mx-1"></i>{{info.cooperator_name}}</label>
                            </span>
                        </small>
                    </div>
                </div>
                {% end %}
            </div>
        </div>
    </div>
    <div class="col-3 px-1">
        <div class="card border-0 rounded-0" style="font-size: .9em;">
            <div class="card-header text-white px-2 py-1 rounded-0 bg-info">
                <i class="fa fa-dot-circle-o mr-2"></i>开发中<span class="badge badge-light mt-1 pull-right">{{summary.underway}}</span>
            </div>

            <div class="card-body m-0 p-0" style="background-color: #eee; max-height: calc(100vh - 140px); overflow: auto;">
                {% for _, info in ipairs(tasks.underway) do %}
                <div class="card m-1 rounded-0 {{info.delayed and 'border-danger' or ''}} task-card related-user-{{info.assigned}}">
                    <div class="card-body m-0 py-1 px-2">
                        <span class="d-inline-block text-truncate mw-100">                            
                            <span class="{{weights[info.weight].color}}">【{{weights[info.weight].title}}】</span>
                            <a href="#" class="task-link" onclick="return open_task('{{info.id}}');">{{info.name}}</a>
                        </span><br>
                        <small class="d-inline-block text-truncate mw-100" style="min-width: 100%">
                            <span><i class="fa fa-calendar mr-1"></i>{{tostring(info.end_time)}}</span>
                            <span class="pull-right">
                                <label class="text-muted m-0">{{info.creator_name}}<i class="fa fa-chevron-right mx-1"></i>{{info.assigned_name}}<i class="fa fa-chevron-right mx-1"></i>{{info.cooperator_name}}</label>
                            </span>
                        </small>
                    </div>
                </div>
                {% end %}
            </div>
        </div>
    </div>
    <div class="col-3 px-1">
        <div class="card border-0 rounded-0" style="font-size: .9em;">
            <div class="card-header text-white px-2 py-1 rounded-0 bg-primary">
                <i class="fa fa-exclamation-circle mr-2"></i>测试中<span class="badge badge-light mt-1 pull-right">{{summary.testing}}</span>
            </div>

            <div class="card-body m-0 p-0" style="background-color: #eee; max-height: calc(100vh - 140px); overflow: auto;">
                {% for _, info in ipairs(tasks.testing) do %}
                <div class="card m-1 rounded-0 {{info.delayed and 'border-danger' or ''}} task-card related-user-{{info.assigned}}">
                    <div class="card-body m-0 py-1 px-2">
                        <span class="d-inline-block text-truncate mw-100">                            
                            <span class="{{weights[info.weight].color}}">【{{weights[info.weight].title}}】</span>
                            <a href="#" class="task-link" onclick="return open_task('{{info.id}}');">{{info.name}}</a>
                        </span><br>
                        <small class="d-inline-block text-truncate mw-100" style="min-width: 100%">
                            <span><i class="fa fa-calendar mr-1"></i>{{tostring(info.end_time)}}</span>
                            <span class="pull-right">
                                <label class="text-muted m-0">{{info.creator_name}}<i class="fa fa-chevron-right mx-1"></i>{{info.assigned_name}}<i class="fa fa-chevron-right mx-1"></i>{{info.cooperator_name}}</label>
                            </span>
                        </small>
                    </div>
                </div>
                {% end %}
            </div>
        </div>
    </div>
    <div class="col-3 px-1">
        <div class="card border-0 rounded-0" style="font-size: .9em;">
            <div class="card-header text-white px-2 py-1 rounded-0 bg-success">
                <i class="fa fa-check-circle mr-2"></i>已完成<span class="badge badge-light mt-1 pull-right">{{summary.finished}}</span>
            </div>

            <div class="card-body m-0 p-0" style="background-color: #eee; max-height: calc(100vh - 140px); overflow: auto;">
                {% for _, info in ipairs(tasks.finished) do %}
                <div class="card m-1 rounded-0 {{info.delayed and 'border-danger' or ''}} task-card related-user-{{info.assigned}}">
                    <div class="card-body m-0 py-1 px-2">
                        <span class="d-inline-block text-truncate mw-100">                            
                            <span class="{{weights[info.weight].color}}">【{{weights[info.weight].title}}】</span>
                            <a href="#" class="task-link" onclick="return open_task('{{info.id}}');">{{info.name}}</a>
                        </span><br>
                        <small class="d-inline-block text-truncate mw-100" style="min-width: 100%">
                            <span><i class="fa fa-calendar mr-1"></i>{{tostring(info.end_time)}}</span>
                            <span class="pull-right">
                                <label class="text-muted m-0">{{info.creator_name}}<i class="fa fa-chevron-right mx-1"></i>{{info.assigned_name}}<i class="fa fa-chevron-right mx-1"></i>{{info.cooperator_name}}</label>
                            </span>
                        </small>
                    </div>
                </div>
                {% end %}
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
function filter_task_by_assigned(elem) {
    var user_id = $(elem).val();
    if (user_id == '-1') {        
        $('.task-card').show();
    } else {
        $('.task-card').hide();
        $('.task-card.related-user-'+user_id).show();
    }
}
</script>