<div class="m-2">

    <div class="d-block mt-2">
        <i class="fa fa-eye mr-1"></i><label class="title mr-4">{{summary.title}}的任务</label>

        <small>
            <span class="bg-dark text-white p-1">待办中</span><span class="bg-secondary text-white px-2 py-1 mr-2">{{summary.opened}}</span>
            <span class="bg-dark text-white p-1">进行中</span><span class="bg-info text-white px-2 py-1 mr-2">{{summary.underway}}</span>
            <span class="bg-dark text-white p-1">已滞后</span><span class="bg-danger text-white px-2 py-1 mr-2">{{summary.delayed}}</span>
            <span class="bg-dark text-white p-1">已完成</span><span class="bg-success text-white px-2 py-1 mr-2">{{summary.closed}}</span>
        </small>

        <div class="btn-link pull-right mr-2" onclick="return switch_viewmode();">
            <i class="fa fa-toggle-on mr-1"></i>切换为【{{session.gantt_mode and '看板' or '甘特图'}}】模式
        </div>
    </div>

    <hr class="m-0">

    <div class="container mw-100 mt-2">
        {[ session.gantt_mode and "dashboard/tasks/mode_gantt.html" or "dashboard/tasks/mode_normal.html" ]}
    </div>
</div>

<div id="task-view" class="task-view-pane invisible">
    <div id="task-info-pane">
    </div>
</div>

<script type='text/javascript'>

function open_task(tid) {
    $('#task-info-pane').empty();
    $('#task-info-pane').get(0).innerHTML = '<div class="text-center text-muted" style="margin-top: 10%"><img src="/www/images/loading.gif" class="mb-4"><h1>努力加载中 ...</h1></div>';
    $('#task-view').removeClass('invisible');
    $('#task-view').addClass('visible');

    $.post("{*readonly and '/dashboard/tasks/readonly_info' or '/dashboard/tasks/info'*}", {id : tid}, function(ret) {
        $('#task-info-pane').empty();
        $('#task-info-pane').append($(ret));
    }, 'html');
}

function switch_viewmode() {
    $.post('/dashboard/tasks/switch_viewmode', function(ret) {
        if (location.pathname == '/' || location.pathname == '/dashboard/tasks/') location.reload();
        else last_pressed_button.click();
    }, 'json');
}
</script>