/* Layouts of this site :
 *  _______________________________________________________
 * |                      navbar                           |
 * |_______________________________________________________|
 * |         |             mainblock                       |
 * |         |                                             |
 * | sidebar |  menublock  |         contentblock          |
 * |         |             |                               |
 * |_________|_____________|_______________________________|
 */

/* Side bar */
.sidebar {
    position: absolute;
    display: block;
    left: 0;
    top: 40px;
    width: 64px;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(222, 222, 222);
}
.sidebar ul li a {
    display: block;
    padding: 0.75rem 0;
    color: rgb(70, 70, 70);
    font-size: .85em;
    text-decoration: none;
}
.sidebar ul li a i {
    font-size: 1.5em;
}
.sidebar ul li a:hover {
    color: #10af88;
}

.sidebar ul .active a {
    color: #10af88;
    background: rgba(0, 0, 0, .05);
}

/* Main block */
.mainblock {
    position: absolute;
    display: block;
    left: 64px;
    top: 40px;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
}

/* Menu block */
.menublock {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 250px;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.menu-link {
    display: block;
    margin-bottom: .3rem;
    font-size: .95em;
    color: rgb(59, 59, 59);
    text-decoration: none;
}
.menu-link:hover, .menublock ul .menu-link.active {
    color: #10af88;
    text-decoration: none;
}

/* Content block */
.contentblock {
    position: absolute;
    display: block;
    left: 250px;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
}

/* Task view panel */
.task-view-pane {
    position:absolute;
    display: block;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    width: 640px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
    background-color: #fff;
    overflow: auto;
}
.task-view-pane-close {
    position: absolute;
    display: inline-block;
    z-index: 2;
    top: 0;
    bottom: 0;
    width: 24px;
    margin-left: 0;
    color: rgba(0,0,0,.4);
    border: none;
    outline: 0;
    background: rgba(0,0,0,0);
    cursor: pointer;
    text-transform: none;
}
.task-view-pane-close:hover {    
    background: lightgrey;
}
.task-view-pane-close:focus {
    outline: 0;
}
.task-card {
    box-shadow: none;
}
.task-card:hover {
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.15) !important;
}

/* Text button */
.btn-link-danger {
    cursor: pointer;
    color: darkred;
}
.btn-link-danger:hover {
    cursor: pointer;
    color: red;
    text-decoration: none;
}

.btn-link {
    cursor: pointer;
    font-size: .95em;
    color: rgb(59, 59, 59);
}

.btn-link:hover {
    cursor: pointer;
    color: #10af88;
    text-decoration: none;
}

.task-link {
    cursor: pointer;
    color: rgb(59, 59, 59);
}

.task-link:hover {
    cursor: pointer;
    color: #10af88;
    text-decoration: none;
}

/* Profile panel */
.profile-pane {
    position: absolute;
    display: block;
    z-index: 3;
    top: 40px;
    right: 0;
    bottom: 0;
    width: 250px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
    background-color: #fff;
    overflow: auto;
}

.profile-pane-close {
    position: absolute;
    display: inline-block;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgba(0,0,0,.4);
    border: none;
    outline: 0;
    background: rgba(0,0,0,0);
    cursor: pointer;
    text-transform: none;
}
.profile-pane-close:hover {
    background: lightgrey;
}
.profile-pane-close:focus {
    outline: 0;
}

/** Fonts */
.title {
    font-size: .95em;
    font-weight: bold;
}
